$distance: 20px

*,
body
  margin: 0px
  padding: 0px


body
    height: 100vh
    overflow: hidden
    
img
  width: 100%
  height: auto

h2
  font-weight: normal
  font-size: 24px
  margin-bottom: $distance

p
  margin: $distance 0px $distance 0px
  font-size: 20px
  line-height: 26px

a
  color: black
  text-decoration: none

.content
  margin: 0px $distance 0px $distance

.header
  position: fixed

.post
  margin-bottom: 60px

.work
  width: 48%
  float: left
  margin-right: 2%
  overflow: scroll
  height: 100vh
  padding-top: 60px

.news
  width: 48%
  float: left
  margin-left: 2%
  overflow: scroll
  height: 100vh
  padding-top: 60px
